<%- include('../partials/header') %>
<div class="container" style="width:30%">
	<h1 style="text-align: center">
		Edit <%= blog.name %>
	</h1>
	<div style= "margin: 0 auto">
		<form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
			<div class="form-group">
				<input type="textbox" value="<%= blog.name %>" name="blog[name]" class="form-control">
			</div>
			<div class="form-group">
				<input type="textbox" value="<%= blog.image %>" name="blog[image]" class="form-control">
			</div>
			
			<div class="form-group">
				<textarea placeholder="Blog" id="spec" rows="10" name="blog[description]" class="form-control" style="display:none;"><%- blog.description %></textarea>
			</div>
			<div style="border-radius:40px;">
			<div style="background-color:#c9c9c9">
				<button type="button" class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold"><b>B</b>
				</button>
					<button type="button" class="fontStyle" onclick="document.execCommand('italic',false,null);" title="Italic"><i>I</i>
				</button>
				<button type="button" class="fontStyle" onclick="document.execCommand( 'underline',false,null);" title="Underline"><u>U</u>
				</button>
					<button type="button" class="fontStyle" onclick="document.execCommand( 'strikethrough');" title="Strike Through"><i class="fas fa-strikethrough"></i>
				</button>
					<button type="button" class="fontStyle" onclick="document.execCommand( 'insertOrderedList');" title="Ordered List"><i class="fas fa-list-ol"></i>
					</button>
					<button type="button" class="fontStyle" onclick="document.execCommand( 'insertUnorderedList');" title="Unordered List"><i class="fas fa-list-ul"></i>
					</button>
				</div>
			<div class="form-group">
				<div id="editor1" contenteditable="true" onkeyup="myFunc()" class="form-control" style="height:190px;overflow: scroll;">
					<%- blog.description %>
				</div>
			</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary btn-block">
			</div>
		</form>
	</div>
	<a href="/blogs">Go Back!</a>
</div>

<%- include ("../partials/footer.ejs") %>

